/* PHASE 2: Thumbs */
.thumb {
  display: block;
  position: realtive;
  width: 58px;
  height: 58px;
  border: 1px solid #000;
  border-radius: 5px;
}

.thumb img {
  border-radius: 5px;
}

.profile-friends {
  display: flex;
  flex-wrap: wrap;
}

.profile-friends > li {
  float: left;
  width: 60px;
  margin: 0 0 10px 0;
}

.thumb:after {
  content: attr(title);
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 65px;
  background: black;
  color: white;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 5px;
}

.thumb:hover:after {
  display: block;
}

.thumb::before {
  content: "";
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -7px;
  border-top
}